.heading {
  overflow: hidden;

  .post-wrapper {
    background-image: url("../images//backgrounds//blog-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    overflow: scroll;
    width: 100vw;

    .post-container {
      @include formStyle;
      background: black;

      input,
      textarea {
        margin: 20px;
      }

      textarea {
        width: 360px;

        &:active {
          height: 360px;
        }
      }

      .featured-image-container {
        img {
          box-shadow: 1px 3px 3px 3px slategray;
          border-radius: 10px;
          margin-top: 20px;
        }
      }

      .content-container {
        background-color: $white;
        border-radius: 10px;
        width: 80vw;
        text-align: justify;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 40px;
        box-shadow: 1px 3px 3px 3px slategray;
      }
    }

    button {
      @include formButton;
    }
  }
}
